@import '../../../node_modules/bootstrap/scss/functions.scss';
@import '../../../node_modules/bootstrap/scss/variables.scss';
@import '../comps/mainCall';
@import '../comps/swiper';
@import '../comps/footer';

.slide-show{
    height: 300px;
    .swiper-container{
        height: 100%;
    }
    .swiper-slide img{
        height: 100%;
        box-shadow: $box-shadow-sm;
        width: 100%;
    }
    @media(min-width: map-get($grid-breakpoints, sm)){
        height: 500px;
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        height: 600px;
    }
}